@media screen and (min-width: 760px){
    // tablet
    .hero{
        padding: 2rem;
        
        .hero-img__image{
            bottom: 5rem;
        }
    }
    .freeNft-text{
        width: 50%;
    }
    .companies{
        .container{
            padding-top: 126px;
            padding-bottom: 126px;
        }
        .companies-grid{
            display: flex;
            justify-content: space-between;
            gap: unset;
            padding-left: 0;
            padding-right: 0;
            margin: auto;

            .boom{
                overflow: initial;
                width: auto;
            }
        }        
    }  
}

@media screen and (min-width: 1030px){
    // laptop +

    .container{
        padding-left: 80px;
        padding-right: 80px;
    }

    .main-header{
        .burger {
            display: none;
          }

        .main-nav  ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap:28px;
            }  
    }

    .hero{
        display:flex;

        .container {
            padding-top:5rem;
        }
        .hero-text{
            .hero-title{
                font-size: 6rem;
                line-height: 116px;
            }
            .hero-p{
                width: 502px;
                max-width: 537px;
                height: 120px;
            }
        }   
        .hero-img__image{
            width:100%;
            height:100%;
            position:revert;
        }
    }

    .freeNft {
        border-radius: 10px;
    }
    
    .companies{
        .companies-grid{
            .hidden{
                display: inline;
            }
        }
    }

    .auction{
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .upsell{
        .upsell-text{
            .hidden{
                display: inline;
            } 
            h2{
                font-size: 56px;
                line-height: 68px;
            }
            .upsell-p{
                width:510px;
            }
        }
        .upsell-img{
            &__image{
                height: 90%;
                bottom: 33px;
                width: 100%;
                left: 220px;
            }
        }
    }
    
    .footer{
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 120px;
        
        .footer-second{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 70px;
        }
        .footer-copyright{
            margin-left: 45px;
        }
    }    
}