$primary-dark-color:#111111 ;
$primary-gray1-color:#555555 ;
$primary-gray2-color:#999999 ;
$primary-gray3-color:#777777 ;
$secondary-pink-color:#FF3998 ;
$secondary-orange-color:#FF8139 ;
$secondary-light-color:#EEEEEE