@use 'reset';
@use 'vars' as v;
@use 'common';

// HEADER

.main-header{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;

    .container{
        display: flex;
        justify-content: space-between;
        padding:32px;
    }

    
    .main-nav__link{
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: v.$primary-gray1-color;
    }

    // ul{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: flex-end;
    //     align-items: center;
    //     gap:28px;
    // }

    ul{
        display: none;
    }

    .burger{
        font-size: 25px;
        line-height: 38px;
        color: v.$primary-gray2-color;
    }
}

// hero

