@use 'reset';
@use 'vars' as v;
@use 'common';

// HEADER

.main-header{
    position: static;
    background-color: #fff;
    top:0;
    left: 0;
    max-width:428px;
    height: 110px;

    .container{
        display: flex;
        justify-content: space-between;
        padding:32px;
    }

    .main-nav__link{
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: v.$primary-gray1-color;
    }

    // ul{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: flex-end;
    //     align-items: center;
    //     gap:28px;
    // }

    ul{
        display: none;
    }

    .burger{
        font-size: 25px;
        line-height: 38px;
        color: v.$primary-gray2-color;
    }
}

// hero

.hero{
    position:relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 75% 25%;

    .container{
        padding-right: 0.5rem;
    }

    .hero-img__image{
        position: absolute;
        height: 424px;
        left: 194px;
        top: -24px;
    }
}

// free nft

.freeNft{
    background-image: url(../assets/assets/background.svg);
    background-size: cover;
    background-position: 20%;
    margin-top: 100px;

    h2{
        margin-top: 122px;
        margin-bottom: 16px;
    }
    p{
        color: v.$primary-dark-color;
    }
}

// companies

.companies{
    .companies-grid{
        display: grid;
        grid-template-columns: 50% 1fr;
        align-items: center;
        justify-content: center;
        gap:14px;
        
        .whiteBlock{
            height: 70px;
            width: 56px;
            background-color: #fff;
            position: absolute;
            right: 200px;
        }  

        .hidden{
            display: none;
        }

        img{
            height: 40px;
            width: auto;
            object-fit: cover;
         }
    }
}

// auction

